/* para que el borde encaje con el tamaño de la pagina y no se aga scroll de lado */
:root {
  --bitcoin-oranje: #f7931a;
  --soft-oranje: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --grey: #bababa;
  --black: #282623;
  --off-white: #faf8f7;
  --just-white: #fff;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}
.general-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  text-align: center;
  position: relative;
}
.general-container--header {
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
  height: 334px;
}
header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}

/* text config */

.general-text-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}
.general-text--title {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
}
.general-text--text {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
}

/* color text */

.text-white {
  color: var(--just-white);
}
.text-soft-orange {
  color: var(--soft-oranje);
}
.text-gray {
  color: #757575;
}

.header--button {
  position: absolute;
  left: calc(50% - 114.5px);
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  /* sombra */
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--black);
}
.header--button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url("../assets/icons/down-arrow.svg");
}
.main-exchange-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-exchange--img {
  width: 195px;
  height: 195px;
  padding-top: 200px;
  margin: 59px auto 0px;
  background-image: url("../assets/img/Bitcoin.svg");
}
