/*para que el borde encaje con el tamaño de la pagina y no se aga scroll de lado*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(28, 30, 43);
}
.header {
    background-color: brown;
}
.main {
    background-color: burlywood;
}
#seccion1 {
    background-color: brown;
}
#seccion2 {
}
#seccion1 div {
    background-color: aliceblue;
}
